.footer {
  width: 100%;

  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  background-image: linear-gradient(
      to right,
      var(--blue-opacity-light-color),
      var(--blue-opacity-light-color)
    ),
    url('/images/background-wave.png');
}

.footer__wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px 0;
}

.footer__logo {
  font-size: var(--main-title-size);
  font-weight: 700;
}

.footer__nav {
  padding: 20px 0;

  border-top: 2px solid var(--blue-opacity-light-color);
  border-bottom: 2px solid var(--blue-opacity-light-color);
}

.footer__nav--list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: clamp(0.625rem, 0.25rem + 1.88vw, 2.5rem);
}

.footer__nav-link {
  font-family: var(--extra-paragraph-font);
  font-size: var(--links-nav-size-mob);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: var(--light-color);

  &:is(:hover, :focus, .active-page) {
    color: var(--yellow-color);
  }
}

.footer__contacts--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__contacts--title {
  font-family: var(--thin-title-font);
  font-weight: 300;
  font-size: var(--secondary-title-size);
  text-transform: uppercase;
}

.footer__contacts--list {
  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 30px;
}

.footer__contacts--icon {
  width: clamp(1.25rem, 1.125rem + 0.63vw, 1.875rem); /* 20 - 30 */
  fill: var(--gray-light-color);

  transition: all 0.3s ease;

  &.mail {
    width: clamp(1.438rem, 1.288rem + 0.75vw, 2.188rem); /* 23 - 35 */
  }

  &:is(:hover, :focus) {
    fill: var(--yellow-color);

    transform: scale(1.05);
  }
}

.footage__signature--wrapper {
  width: 100%;

  margin-top: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px 0;

  font-size: var(--secondary-paragraph-size);
}

.footer__signature--text {
  text-align: center;
}
