.footer {
  width: 100%;

  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  background-image: linear-gradient(
      to right,
      rgba(61, 95, 122, 0.7),
      rgba(65, 102, 151, 0.7)
    ),
    url('/images/health-2.jpg');
}

.footer__logo {
  font-size: var(--main-title-size);
  font-weight: 700;
}
