.header {
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  flex-direction: column;

  background: var(--soft-blue-background);

  transition: top 0.5s ease;

  @media screen and (min-width: 768px) {
    background: var(--body-background);
  }
}

.header__top--wrapper {
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: var(--padding-header-top);

  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }
}

/* =========== Logo ========== */
.header__logo {
  font-size: var(--main-title-size);
  font-weight: 700;
  line-height: 1;
}

/* =========== User Action ========== */
.header__user-action--wrapper {
  margin-left: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.header__join {
  display: block;

  margin: 0 auto;
  margin-top: 30px;
  padding: clamp(0.313rem, 0.104rem + 0.43vw, 0.625rem) 25px; /* 5 - 10 (768-1920)*/

  font-family: var(--main-title-font);
  font-size: var(--small-paragraph-size);
  font-weight: 500;
  letter-spacing: 1.5px;
  color: var(--soft-blue-background);
  text-transform: uppercase;

  border-radius: 6px;
  border: 2px solid var(--soft-blue-background);
  background-color: transparent;

  transition: color, background-color 0.3s ease-in-out;

  &.desk-pos {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin: 0;

    &.desk-pos {
      display: block;
    }

    &.mob-pos {
      display: none;
    }

    &:is(:hover, :focus-visible) {
      background: var(--soft-blue-background);
      color: var(--light-color);
    }
  }
}

.header__language--btn {
  width: var(--main-title-size);
  height: var(--main-title-size);

  margin-right: 15px;
  padding: 0 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;

  border-radius: 6px;
  border: 1px solid var(--light-color);
  background-color: transparent;

  transition: background-color 0.3s ease-in-out;

  @media screen and (min-width: 768px) {
    margin-right: 0;

    border: 2px solid var(--soft-blue-background);

    &:is(:hover, :focus-visible) {
      background: var(--soft-blue-background);
    }
  }

  & .header__language--img {
    width: 80%;

    display: none;

    &.active-lang {
      display: block;
    }
  }
}

/* ========== Mobile Menu =========== */
.mob-menu {
  display: block;

  cursor: pointer;

  & .menu-bar {
    display: block;
  }

  & .menu-close {
    display: none;
  }

  &.is-open .menu-bar {
    display: none;
  }
  &.is-open .menu-close {
    display: block;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-menu__icon {
  width: var(--main-title-size);
  height: var(--main-title-size);

  fill: var(--light-color);
}

/* =========== Navigation =========== */
.header__nav {
  width: clamp(18.75rem, 14.286rem + 22.32vw, 25rem); /* 300 - 400 */

  padding: clamp(1.875rem, 1.429rem + 2.23vw, 2.5rem); /* 30 - 40 */

  position: absolute;
  top: clamp(3.625rem, 3.098rem + 2.63vw, 4.362rem); /* 58 - 69.8 */
  right: -100%;
  z-index: 50;

  border-bottom-left-radius: 10px;
  background: var(--body-background);
  box-shadow: var(--main-shadow);

  transition: right 0.3s ease;

  &.menu-open {
    right: 0;
  }

  @media screen and (min-width: 768px) {
    width: 100%;

    padding: 0;

    display: block;

    position: static;

    border-bottom-left-radius: 0;
  }
}

.header__nav--list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px 0; /* 20 - */

  @media screen and (min-width: 768px) {
    width: 100%;

    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;

    padding: var(--padding-header-nav);

    background: var(--soft-blue-background);
  }
}

.header__nav-link {
  padding: 10px 0;

  font-family: var(--extra-paragraph-font);
  font-size: var(--links-nav-size-mob);
  text-transform: uppercase;
  color: var(--dark-color);

  transition: color 0.3s ease;

  &.active-page {
    color: var(--soft-blue-color);
  }

  @media screen and (min-width: 768px) {
    padding: 10px 0;

    font-size: var(--links-nav-size-desk);
    color: var(--light-color);

    transition: color 0.3s ease;

    &:is(:hover, :focus, .active-page) {
      color: var(--yellow-color);
    }
  }
}
