.header {
  width: 100%;

  display: flex;
  flex-direction: column;

  background: var(--blue-background);

  @media screen and (min-width: 768px) {
    background: var(--body-background);
  }
}

.header__top--wrapper {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: var(--padding-header-top);
}

/* =========== Logo ========== */
.header__logo {
  font-size: var(--main-title-size);
  font-weight: 700;
}

/* =========== User Action ========== */
.header__user-action--wrapper {
  display: flex;
  column-gap: 15px;
}

.user__auth--button {
  width: var(--main-title-size);
  height: var(--main-title-size);

  display: flex;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;

  border: 1px solid var(--blue-background);
  border-radius: 50%;

  & .user-auth__icon {
    width: 70%;

    fill: var(--blue-background);
  }
}

.header__language--btn {
  width: var(--main-title-size);
  height: var(--main-title-size);

  display: flex;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;

  border: 1px solid var(--blue-background);
  border-radius: 50%;

  & .header__language--img {
    width: 80%;

    display: none;

    &.active-lang {
      display: block;
    }
  }
}

/* =========== Navigation =========== */
.header__nav {
  width: 100%;

  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.header__nav--list {
  width: 100%;

  display: flex;
  justify-content: space-between;
  column-gap: 20px;

  padding: var(--padding-header-nav);

  background: var(--blue-background);
}

.header__nav-link {
  padding: 10px 0;

  font-family: var(--extra-paragraph-font);
  font-size: var(--links-nav-size);
  text-transform: uppercase;
  color: var(--light-color);
}
