.header {
  width: 100%;

  display: flex;
  flex-direction: column;

  background: var(--soft-blue-background);

  @media screen and (min-width: 768px) {
    background: var(--body-background);
  }
}

.header__top--wrapper {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: var(--padding-header-top);
}

/* =========== Logo ========== */
.header__logo {
  font-size: var(--main-title-size);
  font-weight: 700;
}

/* =========== User Action ========== */
.header__user-action--wrapper {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.header__join {
  padding: clamp(0.313rem, 0.104rem + 0.43vw, 0.625rem) 25px; /* 5 - 10 (768-1920)*/

  font-family: var(--main-title-font);
  font-size: var(--small-paragraph-size);
  font-weight: 500;
  letter-spacing: 1.5px;
  color: var(--soft-blue-background);
  text-transform: uppercase;

  border-radius: 6px;
  border: 2px solid var(--soft-blue-background);
  background-color: transparent;

  transition: color, background-color 0.3s ease-in-out;

  &:is(:hover, :focus-visible) {
    background: var(--soft-blue-background);
    color: var(--light-color);
  }
}

.user__auth--button {
  width: var(--main-title-size);
  height: var(--main-title-size);

  display: flex;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;

  border: 1px solid var(--soft-blue-background);
  border-radius: 50%;

  & .user-auth__icon {
    width: 70%;

    margin: 0 auto;

    fill: var(--soft-blue-background);
  }
}

.header__language--btn {
  width: var(--main-title-size);
  height: var(--main-title-size);

  padding: 0 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;

  border-radius: 6px;
  border: 2px solid var(--soft-blue-background);
  background-color: transparent;

  & .header__language--img {
    width: 80%;

    display: none;

    &.active-lang {
      display: block;
    }
  }
}

/* =========== Navigation =========== */
.header__nav {
  width: 100%;

  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.header__nav--list {
  width: 100%;

  display: flex;
  justify-content: space-between;
  column-gap: 20px;

  padding: var(--padding-header-nav);

  background: var(--soft-blue-background);
}

.header__nav-link {
  padding: 10px 0;

  font-family: var(--extra-paragraph-font);
  font-size: var(--links-nav-size-mob);
  text-transform: uppercase;
  color: var(--light-color);

  transition: all 0.3s ease;

  &:is(:hover, :focus, .active-page) {
    color: var(--yellow-color);
  }

  @media screen and (min-width: 768px) {
    font-size: var(--links-nav-size-desk);
  }
}
