:root {
  /* ========= Screens ========*/
  --mobile-screen: 320px;
  --tablet-screen: 768px;
  --desctop-screen: 1200px;
  --max-screen: 1920px;

  /* ========= Fonts ========= */
  --main-title-font: 'Montserrat-Bold', sans-serif;
  --extra-title-font: 'Montserrat-ExtraBold', sans-serif;
  --secondary-title-font: 'Montserrat-Medium', sans-serif;
  --thin-title-font: 'Montserrat-Regular', sans-serif;

  --main-paragraph-font: 'Nunito-Regular', sans-serif;
  --extra-paragraph-font: 'Nunito-Bold', sans-serif;
  --secondary-paragraph-font: 'Nunito-Medium', sans-serif;
  --thin-paragraph-font: 'Nunito-Light', sans-serif;

  /* ====== Fonts sizes ====== */
  --extra-title-size: clamp(1.25rem, 0.563rem + 3.44vw, 4.688rem); /* 20 - 75 */
  --main-title-size: clamp(1.125rem, 0.787rem + 1.69vw, 2.813rem); /* 18 - 45 */
  --secondary-title-size: clamp(
    0.875rem,
    0.675rem + 1vw,
    1.875rem
  ); /* 14 - 30 */
  --main-paragraph-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem); /* 12 - 16 */
  --links-nav-size: clamp(0.875rem, 0.292rem + 1.22vw, 1.75rem); /* 14 - 28 */

  /* === Fonts line-height === */

  /* ========= Colors ======== */
  --dark-color: #0f0f0f;
  --light-color: #f6f4f0;
  --gray-light-color: #cacaca;
  --blue-opacity-light-color: #4187b6d5;

  /* ======== Gradients ======== */
  --main-linear: linear-gradient(to top, #abd699, #75c9b7);
  --main-linear-webkit: -webkit-linear-gradient(to top, #abd699, #75c9b7);

  /* ======= Backgrounds ======*/
  --body-background: #f6f4f0;
  --blue-background: #2f80ec;
  --soft-blue-background: #75c9b7;
  --yellow-background: #fdf3b6;
  --cards-background: #abd699;

  /* ======== Paddings ========*/
  --padding-container: 0 clamp(0.625rem, -2.375rem + 15vw, 15.625rem); /* 10 - 250 */
  --padding-header-top: clamp(0.625rem, 0.375rem + 1.25vw, 1.875rem)
    clamp(0.625rem, -2.375rem + 15vw, 15.625rem); /* 10 - 30, 10 - 250 */
  --padding-header-nav: clamp(0.313rem, 0.125rem + 0.94vw, 1.25rem)
    clamp(0.625rem, -2.375rem + 15vw, 15.625rem); /* 5 - 20, 10 - 250 */
  --padding-section: clamp(1.875rem, 1.5rem + 1.88vw, 3.75rem) 0; /* 30 - 60 */

  /* ======== Swiper Styles ======== */
}
