:root {
  /* ========= Screens ========*/
  --mobile-screen: 320px;
  --tablet-screen: 768px;
  --desctop-screen: 1200px;
  --max-screen: 1920px;

  /* ========= Fonts ========= */
  --main-title-font: 'Montserrat-Bold', sans-serif;
  --extra-title-font: 'Montserrat-ExtraBold', sans-serif;
  --secondary-title-font: 'Montserrat-Medium', sans-serif;
  --thin-title-font: 'Montserrat-Regular', sans-serif;

  --main-paragraph-font: 'Nunito-Regular', sans-serif;
  --extra-paragraph-font: 'Nunito-Bold', sans-serif;
  --secondary-paragraph-font: 'Nunito-Medium', sans-serif;
  --thin-paragraph-font: 'Nunito-Light', sans-serif;

  /* ====== Fonts sizes ====== */
  --extra-title-size: clamp(1.25rem, 0.625rem + 3.13vw, 4.375rem); /* 20 - 70 */
  --main-title-size: clamp(1.125rem, 0.85rem + 1.38vw, 2.5rem); /* 18 - 40 */
  --secondary-title-size: clamp(
    0.875rem,
    0.675rem + 1vw,
    1.875rem
  ); /* 14 - 30 */
  --small-title-size: clamp(0.875rem, 0.85rem + 0.13vw, 1rem); /* 14 - 16 */
  --main-paragraph-size: clamp(
    0.875rem,
    0.825rem + 0.25vw,
    1.125rem
  ); /* 14 - 18 */
  --secondary-paragraph-size: clamp(
    0.75rem,
    0.7rem + 0.25vw,
    1rem
  ); /* 12 - 16 */
  --small-paragraph-size: clamp(
    0.75rem,
    0.661rem + 0.45vw,
    0.875rem
  ); /* 12 - 14 */
  --links-nav-size-mob: clamp(
    0.75rem,
    0.661rem + 0.45vw,
    0.875rem
  ); /* 12 - 14 */
  --links-nav-size-desk: clamp(
    0.75rem,
    0.417rem + 0.69vw,
    1.25rem
  ); /* 12 - 20 */

  /* === Fonts line-height === */

  /* ========= Colors ======== */
  --dark-color: #0f0f0f;
  --light-color: #f6f4f0;
  --blue-color: #2f80ec;
  --soft-blue-color: #4183bd;
  --blue-opacity-light-color: #2a5b7cd7;
  --yellow-color: #f9ec84;
  --green-color: #75c9b7;
  --gray-light-color: #cacaca;
  --icon-color: #9d8b81;

  /* ======== Gradients ======== */
  --main-linear: linear-gradient(to top, #abd699, #75c9b7);
  --main-linear-webkit: -webkit-linear-gradient(to top, #abd699, #75c9b7);
  --light-linear-gradient: linear-gradient(
    180deg,
    #fff 0%,
    rgba(255, 255, 255, 0) 100%
  );

  /* ======= Backgrounds ======*/
  --body-background: #f6f4f0;
  --light-background: #fdfcfb;
  --blue-background: #2f80ec;
  --soft-blue-background: #4183bd;
  --yellow-background: #f9ec84;
  --hover-background: #4183bd80;

  /* ======== Shadows ======== */
  --main-shadow: 0px 212px 59px 0px rgba(196, 173, 160, 0.01),
    0px 136px 54px 0px rgba(196, 173, 160, 0.04),
    0px 76px 46px 0px rgba(196, 173, 160, 0.15),
    0px 34px 34px 0px rgba(196, 173, 160, 0.26),
    0px 8px 19px 0px rgba(196, 173, 160, 0.29);

  --icon-shadow: 0px 10px 5px 0px rgba(196, 173, 160, 0.01),
    0px 6px 4px 0px rgba(196, 173, 160, 0.04),
    0px 5px 3px 0px rgba(196, 173, 160, 0.15),
    0px 4px 2px 0px rgba(196, 173, 160, 0.26),
    0px 3px 1px 0px rgba(196, 173, 160, 0.29);

  /* ======== Paddings ========*/
  --padding-container: 0 clamp(0.625rem, -3.25rem + 19.38vw, 20rem); /* 10 - 300 */
  --padding-header-top: clamp(0.625rem, 0.375rem + 1.25vw, 1.875rem)
    clamp(0.625rem, -3.25rem + 19.38vw, 20rem); /* 10 - 30, 10 - 300 */
  --padding-header-nav: clamp(0.313rem, 0.125rem + 0.94vw, 1.25rem)
    clamp(0.625rem, -3.25rem + 19.38vw, 20rem); /* 5 - 20, 10 - 300 */
  --padding-top-hero: clamp(1.875rem, 1.5rem + 1.88vw, 3.75rem); /* 30 - 60 */
  --padding-section: clamp(2.5rem, 2rem + 2.5vw, 5rem) 0; /* 40 - 80 */
  --padding-icon: clamp(0.313rem, 0.225rem + 0.44vw, 0.75rem); /* 5 - 12 */

  /* ======== Swiper Styles ======== */
  --swiper-theme-color: var(--soft-blue-background);
  --swiper-navigation-size: 15px;
  --swiper-navigation-sides-offset: 100px;
  --swiper-navigation-top-offset: 50%;
  --swiper-pagination-color: var(--soft-blue-background);
  --swiper-pagination-bullet-inactive-color: #f6f4f0;
  --swiper-pagination-bullet-inactive-opacity: 0.6;
  --swiper-pagination-bottom: clamp(
    0.313rem,
    0.125rem + 0.94vw,
    1.25rem
  ); /* 5 - 20 */

  /* ======== Modal Styles ======== */
  --backdrop-bg: rgba(0, 0, 0, 0.4);
  --modal-bg: #f6f4f0;
  --modal-accent-color: #4183bd;
  --modal-accent-hover: #2f5a80;
  --modal-close-icon: #333230;
  --modal-close-icon-hover: #2f5a80;
  --modal-texts-color: #333230;
  --modal-input-icon: #333230;
}
