<footer class="section footer">
  <div class="container footer__wrapper">
    <!-- Logo -->
    <h2 class="footer__logo" lang="en">PSYCHABILITI</h2>

    <!-- Links -->

    <!-- Navigation -->
    <nav class="footer__nav">
      <ul class="footer__nav--list">
        <li class="footer__nav-item">
          <a
            href="./"
            class="footer__nav-link active-page"
            data-lang="nav-link-main"
            data-page-home
            aria-label="на Головну сторінку"
            >Головна</a
          >
        </li>

        <li class="footer__nav-item">
          <a
            href="./team.html"
            class="footer__nav-link"
            data-lang="nav-link-team"
            data-page-team
            aria-label="на секцію Команда"
            >Команда</a
          >
        </li>

        <li class="footer__nav-item">
          <a
            href="./partnership.html"
            class="footer__nav-link"
            data-lang="nav-link-partnership"
            data-page-partnership
            aria-label="на секцію Партнерство"
            >Партнерство</a
          >
        </li>

        <li class="footer__nav-item">
          <a
            href="./news.html"
            class="footer__nav-link"
            data-lang="nav-link-news"
            data-page-news
            aria-label="на секцію Новини"
            >Новини</a
          >
        </li>

        <li class="footer__nav-item">
          <a
            href="./projects.html"
            class="footer__nav-link"
            data-lang="nav-link-projects"
            data-page-projects
            aria-label="на секцію Проєкти"
            >Проєкти</a
          >
        </li>

        <li class="footer__nav-item">
          <a
            href="./faq.html"
            class="footer__nav-link"
            data-lang="nav-link-question"
            data-page-faq
            aria-label="на секцію Питання"
            >Питання</a
          >
        </li>
      </ul>
    </nav>

    <!-- Contacts -->
    <div id="contacts" class="footer__contacts--wrapper">
      <h3 class="footer__contacts--title" data-lang="footer-contacts-title">
        Контакти
      </h3>

      <ul class="footer__contacts--list">
        <li class="footer__contacts--item">
          <a href="#" class="footer__contacts--link" aria-label="to Watsapp">
            <svg width="50" height="50" class="footer__contacts--icon">
              <use href="/icons/sprite.svg#icon-whatsapp"></use>
            </svg>
          </a>
        </li>
        <li class="footer__contacts--item">
          <a href="#" class="footer__contacts--link" aria-label="to Telegram">
            <svg width="50" height="50" class="footer__contacts--icon">
              <use href="/icons/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer__contacts--item">
          <a href="#" class="footer__contacts--link" aria-label="to Mail">
            <svg width="50" height="50" class="footer__contacts--icon mail">
              <use href="/icons/sprite.svg#icon-mail"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <!-- Signature -->
    <div class="footage__signature--wrapper">
      <p class="footer__signature--text" data-lang="footer-signature">
        Київська громадська організація "ПСИХАБІЛІТІ"
      </p>
      <div class="footer__signature--year">
        <a href="#" class="admin__auth" target="_blank">© 2024</a>
      </div>
    </div>
  </div>
</footer>
