<div class="container projects-list__wrapper">
  <!-- Cards -->
  <ul class="projects__cards--list">
    <li class="projects__card--item">
      <img
        src="/images/project-1.jpg"
        alt="doctor"
        class="projects__card--img"
        width="1920"
        height="1280"
      />
      <div class="projects__card--texts-wrapper">
        <h2 class="secondary__title projects__card--name">НАЗВА ПРОЄКТУ</h2>
        <p
          class="main__paragraph projects__card--text"
          data-lang="projects-card-text-1"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
          recusandae sed consequatur provident eum beatae laudantium inventore
          accusamus quae distinctio.
        </p>
        <a
          href="#"
          class="projects__card--link"
          data-lang="projects__card--link"
          aria-label="Дізнатись більше"
          >Дізнатись більше...</a
        >
        <button
          class="join__button project__join"
          data-lang="join-button"
          data-modal-open
          aria-label="Долучитися"
        >
          Долучитися
        </button>
      </div>
    </li>
    <li class="projects__card--item">
      <img
        src="/images/project-2.jpg"
        alt="doctor"
        class="projects__card--img"
        width="1920"
        height="1280"
      />
      <div class="projects__card--texts-wrapper">
        <h2 class="secondary__title projects__card--name">НАЗВА ПРОЄКТУ</h2>
        <p
          class="main__paragraph projects__card--text"
          data-lang="projects-card-text-1"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
          facilis mollitia temporibus placeat atque quae eaque dicta perferendis
          laboriosam voluptate!
        </p>
        <a
          href="#"
          class="projects__card--link"
          data-lang="projects__card--link"
          aria-label="Дізнатись більше"
          >Дізнатись більше...</a
        >
        <button
          class="join__button project__join"
          data-lang="join-button"
          data-modal-open
          aria-label="Долучитися"
        >
          Долучитися
        </button>
      </div>
    </li>
    <li class="projects__card--item">
      <img
        src="/images/project-3.jpg"
        alt="doctor"
        class="projects__card--img"
        width="1920"
        height="1280"
      />
      <div class="projects__card--texts-wrapper">
        <h2 class="secondary__title projects__card--name">НАЗВА ПРОЄКТУ</h2>
        <p
          class="main__paragraph projects__card--text"
          data-lang="projects-card-text-1"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
          voluptate illo culpa voluptatibus perspiciatis nulla officiis quam, in
          impedit inventore?
        </p>
        <a
          href="#"
          class="projects__card--link"
          data-lang="projects__card--link"
          aria-label="Дізнатись більше"
          >Дізнатись більше...</a
        >
        <button
          class="join__button project__join"
          data-lang="join-button"
          data-modal-open
          aria-label="Долучитися"
        >
          Долучитися
        </button>
      </div>
    </li>
  </ul>
</div>
