<div class="container faq__list">
  <ul class="faq__details--list">
    <li class="faq__details--item">
      <details class="faq__details">
        <summary class="faq__details--title">
          <h2 class="secondary__title faq__title">Запитання - 1</h2>

          <svg width="24" height="24" class="faq__details--icon">
            <use href="/icons/sprite.svg#icon-down"></use>
          </svg>
        </summary>
        <p class="main__paragraph faq__details--desc">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit
          omnis iusto, illum provident harum inventore asperiores necessitatibus
          dicta ex sit!
        </p>
      </details>
    </li>
    <li class="faq__details--item">
      <details class="faq__details">
        <summary class="faq__details--title">
          <h2 class="secondary__title faq__title">Запитання - 2</h2>

          <svg width="24" height="24" class="faq__details--icon">
            <use href="/icons/sprite.svg#icon-down"></use>
          </svg>
        </summary>
        <p class="main__paragraph faq__details--desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
          necessitatibus vel dolore minima, soluta sequi quasi assumenda
          veritatis tenetur natus saepe hic! Eius aspernatur error ad.
          Doloremque dolorem omnis expedita?
        </p>
      </details>
    </li>
    <li class="faq__details--item">
      <details class="faq__details">
        <summary class="faq__details--title">
          <h2 class="secondary__title faq__title">Запитання - 3</h2>

          <svg width="24" height="24" class="faq__details--icon">
            <use href="/icons/sprite.svg#icon-down"></use>
          </svg>
        </summary>
        <p class="main__paragraph faq__details--desc">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi, error?
        </p>
      </details>
    </li>
    <li class="faq__details--item">
      <details class="faq__details">
        <summary class="faq__details--title">
          <h2 class="secondary__title faq__title">Запитання - 4</h2>

          <svg width="24" height="24" class="faq__details--icon">
            <use href="/icons/sprite.svg#icon-down"></use>
          </svg>
        </summary>
        <p class="main__paragraph faq__details--desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
          ullam culpa facilis voluptatum delectus repellat! Libero ut odio
          nobis, voluptas, laudantium aperiam dolores nam recusandae veniam
          aliquid labore non velit quos asperiores ab! Excepturi, eius veritatis
          cupiditate provident expedita aspernatur maxime voluptatum iste
          officiis, ut commodi ullam quis dolore magni.
        </p>
      </details>
    </li>
    <li class="faq__details--item">
      <details class="faq__details">
        <summary class="faq__details--title">
          <h2 class="secondary__title faq__title">Запитання - 5</h2>

          <svg width="24" height="24" class="faq__details--icon">
            <use href="/icons/sprite.svg#icon-down"></use>
          </svg>
        </summary>
        <p class="main__paragraph faq__details--desc">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime odit
          ipsum autem debitis sit cumque nobis tenetur, magnam sint ea.
        </p>
      </details>
    </li>
  </ul>
</div>
