<div class="container team-list__wrapper">
  <!-- Cards -->
  <ul class="team__cards--list">
    <li class="team__card--item">
      <img
        src="/images/doc-2.jpg"
        alt="doctor"
        class="team__card--img"
        width="800"
        height="800"
      />
      <h2 class="secondary__title team__card--name">ПІБ ЛІКАРЯ</h2>
      <p class="team__card--text" data-lang="team-card-text-1">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint numquam
        error suscipit architecto fugit distinctio!
      </p>
    </li>
    <li class="team__card--item">
      <img
        src="/images/doc-1.jpg"
        alt="psyhiatrist"
        class="team__card--img"
        width="800"
        height="800"
      />
      <h2 class="secondary__title team__card--name">ПІБ ЛІКАРЯ</h2>
      <p class="team__card--text" data-lang="team-card-text-2">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, eius.
        Ipsum, tenetur.
      </p>
    </li>
    <li class="team__card--item">
      <img
        src="/images/doc-3.jpg"
        alt="psyhiatrist"
        class="team__card--img"
        width="800"
        height="800"
      />
      <h2 class="secondary__title team__card--name">ПІБ ЛІКАРЯ</h2>
      <p class="team__card--text" data-lang="team-card-text-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo a
        praesentium eveniet aut rem quidem saepe eum quisquam.
      </p>
    </li>
    <li class="team__card--item">
      <img
        src="/images/doc-5.jpg"
        alt="psyhiatrist"
        class="team__card--img"
        width="800"
        height="800"
      />
      <h2 class="secondary__title team__card--name">ПІБ ЛІКАРЯ</h2>
      <p class="team__card--text" data-lang="team-card-text-3">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem,
        doloremque?
      </p>
    </li>
  </ul>
</div>
