<header class="header" data-header>
  <!-- Header Top -->
  <div class="container header__top--wrapper">
    <h1 class="header__logo" lang="en">PSYCHABILITI</h1>

    <div class="header__user-action--wrapper desk-pos">
      <!-- Join us -->
      <button
        class="header__join desk-pos"
        data-lang="join-button"
        data-modal-open
        aria-label="Долучитися"
      >
        Долучитися
      </button>

      <!-- Languages -->
      <button
        class="header__language--btn"
        aria-label="choise language"
        data-language-btn
      >
        <svg
          width="50"
          height="50"
          class="header__language--img"
          data-language-img
          data-lang="en"
        >
          <use href="/icons/sprite.svg#icon-en"></use>
        </svg>

        <svg
          width="50"
          height="50"
          class="header__language--img"
          data-language-img
          data-lang="uk"
        >
          <use href="/icons/sprite.svg#icon-ua"></use>
        </svg>
      </button>
    </div>

    <!-- Mobile Menu -->
    <button class="mob-menu" data-mob-menu>
      <svg width="70" height="70" class="mob-menu__icon menu-bar">
        <use href="/icons/sprite.svg#icon-menu-bar"></use>
      </svg>
      <svg width="50" height="50" class="mob-menu__icon menu-close">
        <use href="/icons/sprite.svg#icon-menu-close"></use>
      </svg>
    </button>
  </div>

  <!-- Navigation -->
  <nav class="header__nav" data-nav>
    <ul class="container header__nav--list">
      <li class="header__nav-item">
        <a
          href="./"
          class="header__nav-link active-page"
          data-lang="nav-link-main"
          data-page-home
          data-mob-link
          aria-label="на Головну сторінку"
          >Головна</a
        >
      </li>

      <li class="header__nav-item">
        <a
          href="./team.html"
          class="header__nav-link"
          data-lang="nav-link-team"
          data-page-team
          data-mob-link
          aria-label="на сторінку Команда"
          >Команда</a
        >
      </li>

      <li class="header__nav-item">
        <a
          href="./partnership.html"
          class="header__nav-link"
          data-lang="nav-link-partnership"
          data-page-partnership
          data-mob-link
          aria-label="на сторінку Партнерство"
          >Партнерство</a
        >
      </li>

      <li class="header__nav-item">
        <a
          href="./news.html"
          class="header__nav-link"
          data-lang="nav-link-news"
          data-page-news
          data-mob-link
          aria-label="на сторінку Новини"
          >Новини</a
        >
      </li>

      <li class="header__nav-item">
        <a
          href="./projects.html"
          class="header__nav-link"
          data-lang="nav-link-projects"
          data-page-projects
          data-mob-link
          aria-label="на сторінку Проєкти"
          >Проєкти</a
        >
      </li>

      <li class="header__nav-item">
        <a
          href="./faq.html"
          class="header__nav-link"
          data-lang="nav-link-question"
          data-page-faq
          data-mob-link
          aria-label="на сторінку Питання"
          >Питання</a
        >
      </li>

      <li class="header__nav-item">
        <a
          href="#contacts"
          class="header__nav-link"
          data-lang="nav-link-contacts"
          data-mob-link
          aria-label="на секцію Контакти"
          >Контакти</a
        >
      </li>
    </ul>

    <!-- Join us -->
    <button
      class="header__join mob-pos"
      data-lang="join-button"
      data-modal-open
      data-mob-link
      aria-label="Долучитися"
    >
      Долучитися
    </button>
  </nav>
</header>
