<header class="header">
  <!-- Header Top -->
  <div class="container header__top--wrapper">
    <h1 class="header__logo" lang="en">PSYCHABILITI</h1>

    <div class="header__user-action--wrapper">
      <!-- Join us -->
      <button
        class="header__join"
        data-lang="join-button"
        data-modal-open
        aria-label="Долучитися"
      >
        Долучитися
      </button>

      <!-- Languages -->
      <button
        class="header__language--btn"
        aria-label="choise language"
        data-language-btn
      >
        <picture class="header__language--img" data-language-img data-lang="en">
          <source srcset="/images/ua-flag.webp" type="image/webp" />
          <source srcset="/images/ua-flag.png" type="image/png" />
          <img src="/images/ua-flag.png" alt="UA" width="30" height="30" />
        </picture>
        <picture class="header__language--img" data-language-img data-lang="uk">
          <source srcset="/images/usa-flag.webp" type="image/webp" />
          <source srcset="/images/usa-flag.png" type="image/png" />
          <img src="/images/usa-flag.png" alt="EN" width="30" height="30" />
        </picture>
      </button>
    </div>
  </div>

  <!-- Navigation -->
  <nav class="header__nav">
    <ul class="container header__nav--list">
      <li class="header__nav-item">
        <a
          href="./"
          class="header__nav-link active-page"
          data-lang="nav-link-main"
          aria-label="на Головну сторінку"
          >Головна</a
        >
      </li>

      <li class="header__nav-item">
        <a
          href="./team.html"
          class="header__nav-link"
          data-lang="nav-link-team"
          aria-label="на секцію Команда"
          >Команда</a
        >
      </li>

      <li class="header__nav-item">
        <a
          href="./partnership.html"
          class="header__nav-link"
          data-lang="nav-link-partnership"
          aria-label="на секцію Партнерство"
          >Партнерство</a
        >
      </li>

      <li class="header__nav-item">
        <a
          href="./news.html"
          class="header__nav-link"
          data-lang="nav-link-news"
          aria-label="на секцію Новини"
          >Новини</a
        >
      </li>

      <li class="header__nav-item">
        <a
          href="./projects.html"
          class="header__nav-link"
          data-lang="nav-link-projects"
          aria-label="на секцію Проєкти"
          >Проєкти</a
        >
      </li>

      <li class="header__nav-item">
        <a
          href="./faq.html"
          class="header__nav-link"
          data-lang="nav-link-question"
          aria-label="на секцію Питання"
          >Питання</a
        >
      </li>
    </ul>
  </nav>
</header>
