<header class="header" data-header>
  <!-- Header Top -->
  <div class="container header__top--wrapper">
    <h1 class="header__logo" lang="en">PSYCHABILITI</h1>

    <div class="header__user-action--wrapper">
      <!-- Join us -->
      <button
        class="header__join"
        data-lang="join-button"
        data-modal-open
        aria-label="Долучитися"
      >
        Долучитися
      </button>

      <!-- Languages -->
      <button
        class="header__language--btn"
        aria-label="choise language"
        data-language-btn
      >
        <svg
          width="50"
          height="50"
          class="header__language--img"
          data-language-img
          data-lang="en"
        >
          <use href="/icons/sprite.svg#icon-en"></use>
        </svg>

        <svg
          width="50"
          height="50"
          class="header__language--img"
          data-language-img
          data-lang="uk"
        >
          <use href="/icons/sprite.svg#icon-ua"></use>
        </svg>
      </button>
    </div>

    <!-- Mobile Menu -->
    <div class="burger-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>

  <!-- Navigation -->
  <nav class="header__nav">
    <ul class="container header__nav--list">
      <li class="header__nav-item">
        <a
          href="./"
          class="header__nav-link active-page"
          data-lang="nav-link-main"
          data-page-home
          aria-label="на Головну сторінку"
          >Головна</a
        >
      </li>

      <li class="header__nav-item">
        <a
          href="./team.html"
          class="header__nav-link"
          data-lang="nav-link-team"
          data-page-team
          aria-label="на секцію Команда"
          >Команда</a
        >
      </li>

      <li class="header__nav-item">
        <a
          href="./partnership.html"
          class="header__nav-link"
          data-lang="nav-link-partnership"
          data-page-partnership
          aria-label="на секцію Партнерство"
          >Партнерство</a
        >
      </li>

      <li class="header__nav-item">
        <a
          href="./news.html"
          class="header__nav-link"
          data-lang="nav-link-news"
          data-page-news
          aria-label="на секцію Новини"
          >Новини</a
        >
      </li>

      <li class="header__nav-item">
        <a
          href="./projects.html"
          class="header__nav-link"
          data-lang="nav-link-projects"
          data-page-projects
          aria-label="на секцію Проєкти"
          >Проєкти</a
        >
      </li>

      <li class="header__nav-item">
        <a
          href="./faq.html"
          class="header__nav-link"
          data-lang="nav-link-question"
          data-page-faq
          aria-label="на секцію Питання"
          >Питання</a
        >
      </li>
    </ul>
  </nav>
</header>
