.about {
  padding-top: 40px;

  display: flex;
  flex-direction: column;
  gap: 40px 0;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 0 clamp(0.625rem, -0.208rem + 1.74vw, 1.875rem); /* 10 - 30 */
  }
}

.about__wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__title--wrapper {
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.about__title-icon--wrapper {
  width: calc(var(--main-title-size) * 2);
  height: calc(var(--main-title-size) * 2);

  padding: var(--padding-icon);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  border: 1px solid var(--light-background);
  background: var(--light-linear-gradient);
  box-shadow: var(--icon-shadow);
}

.about__title--icon {
  fill: var(--icon-color);
}

.about__title {
  text-transform: uppercase;
}

.about__descr--list {
  margin-top: 20px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  gap: 20px 0;
  flex-grow: 1;

  border-radius: 10px;
  border: 1px solid var(--light-background);
  background: var(--light-linear-gradient);
  box-shadow: var(--main-shadow);
}

.about__descr--text {
  font-family: var(--main-paragraph-font);
  font-size: var(--links-nav-size);
  line-height: 1.5;
  text-indent: 20px;
  text-align: justify;
}
