<section class="section">
  <div class="container about">
    <article class="about__wrapper">
      <!-- Title -->
      <div class="about__title--wrapper">
        <div class="icon__wrapper">
          <svg width="50" height="50" class="cards__icon">
            <use href="/icons/sprite.svg#icon-tandem"></use>
          </svg>
        </div>

        <h2 class="main__title about__title" data-lang="about-title">
          Про нас
        </h2>
      </div>

      <!-- Description -->
      <div class="about__descr--list">
        <div class="about__descr--item">
          <p class="about__descr--text" data-lang="about-text-1">
            Київська громадська організація «PSYCHABILITI» об’єднує осіб з
            психічними порушеннями, їх родичів та фахівців з психічного
            здоров’я.
          </p>
        </div>
        <div class="about__descr--item">
          <p class="about__descr--text" data-lang="about-text-2">
            Організація має 20-річний досвід з реабілітації таких людей,
            підтримки членів їх родин та захисту прав.
          </p>
        </div>
        <div class="about__descr--item">
          <p class="about__descr--text" data-lang="about-text-3">
            Діяльність огранізації допомагає цим людям зберігати активне
            соціальне життя та покращує його якість.
          </p>
        </div>
        <div class="about__descr--item">
          <p class="about__descr--text" data-lang="about-text-4">
            Унікальність Організації полягає в практичному досвіду реабілітації
            людей з тяжкими психічними порушеннями, зокрема шизофренії
          </p>
        </div>
      </div>
    </article>

    <!-- Mission -->
    <article class="about__wrapper">
      <!-- Title -->
      <div class="about__title--wrapper">
        <div class="icon__wrapper">
          <svg width="50" height="50" class="cards__icon">
            <use href="/icons/sprite.svg#icon-care"></use>
          </svg>
        </div>

        <h2 class="main__title about__title" data-lang="mission-title">
          Наша місія
        </h2>
      </div>

      <!-- Description -->
      <div class="about__descr--list">
        <div class="about__descr--item">
          <p class="about__descr--text" data-lang="mission-text-1">
            Місією Громадської організації є сприяння у наданні допомоги особам
            з психічними порушеннями у ресоціалізації, реабілітації та
            реадаптації, в отриманні суцільної допомоги їхнім родичам, а також у
            створенні, діяльності та розвитку організацій, які покликані цю
            допомогу надавати.
          </p>
        </div>
        <div class="about__descr--item">
          <p class="about__descr--text" data-lang="mission-text-2">
            Громадська організація розробляє і реалізує програми та проекти,
            спрямовані на збереження та відновлення соціальної активності осіб з
            психічними порушеннями, допомогу у їх медико-соціальної реабілітації
            , а також їхнім родичам та законним представникам.
          </p>
        </div>
      </div>
    </article>
  </div>
  <!-- Join -->
  <button
    class="join__button"
    data-lang="join-button"
    data-modal-open
    aria-label="Долучитися"
  >
    Долучитися
  </button>
</section>
