<section class="section about">
  <div class="container about__wrapper">
    <!-- Title -->
    <div class="about__title--wrapper">
      <div class="about__title-icon--wrapper">
        <svg width="50" height="50" class="about__title--icon">
          <use href="/icons/sprite.svg#icon-tandem"></use>
        </svg>
      </div>

      <h2 class="main__title about__title" data-lang="about-title">Про нас</h2>
    </div>

    <!-- Description -->
    <div class="about__descr--list">
      <div class="about__descr--item">
        <p class="about__descr--text" data-lang="about-text-1">
          Київська громадська організація «PSYCHABILITI» об’єднує осіб з
          психічними порушеннями, їх родичів та фахівців з психічного здоров’я.
        </p>
      </div>
      <div class="about__descr--item">
        <p class="about__descr--text" data-lang="about-text-2">
          Організація має 20-річний досвід з реабілітації таких людей, підтримки
          членів їх родин та захисту прав.
        </p>
      </div>
      <div class="about__descr--item">
        <p class="about__descr--text" data-lang="about-text-3">
          Діяльність огранізації допомагає цим людям зберігати активне соціальне
          життя та покращує його якість.
        </p>
      </div>
      <div class="about__descr--item">
        <p class="about__descr--text" data-lang="about-text-4">
          Унікальність Організації полягає в практичному досвіду реабілітації
          людей з тяжкими психічними порушеннями, зокрема шизофренії
        </p>
      </div>

      <!-- Join -->
      <button class="join__button" data-lang="join-button">Долучитися</button>
    </div>
  </div>
</section>
