<section class="hero" data-hero>
  <div class="hero__wrapper">
    <div class="hero__texts--wrapper">
      <h2 class="hero__title" data-lang="home-hero-title">
        Київська громадська організація «ПСИХАБІЛІТІ»
      </h2>
      <p class="hero__paragraph" data-lang="home-hero-desc">
        Практичний досвід реабілітації людей з тяжкими психічними порушеннями
      </p>
    </div>

    <img
      src="/images/health-1.jpg"
      alt="slide-1"
      class="hero__img"
      width="1920"
      height="620"
      draggable="false"
    />
  </div>
</section>
