<section class="hero">
  <div class="hero__wrapper">
    <!-- Hero Texts -->
    <div class="container hero__texts--wrapper">
      <div class="hero__text text__slide-1">
        <h2 class="hero__title">SOME TITLE</h2>
        <p class="hero__paragraph">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero,
          voluptate!
        </p>
      </div>
      <!-- <div class="hero__text text__slide-2">
        <h2 class="hero__title">SOME BIG TEXT-2</h2>
        <p class="hero__paragraph">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero,
          voluptate!
        </p>
      </div>
      <div class="hero__text text__slide-3">
        <h2 class="hero__title">SOME BIG TEXT-3</h2>
        <p class="hero__paragraph">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero,
          voluptate!
        </p>
      </div>
      <div class="hero__text text__slide-4">
        <h2 class="hero__title">SOME BIG TEXT-4</h2>
        <p class="hero__paragraph">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero,
          voluptate!
        </p>
      </div> -->
    </div>

    <!-- Swiper -->
    <div class="swiper slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide">
          <img
            src="/images/health-1.jpg"
            alt="slide-1"
            class="slide__img"
            width="1280"
            height="620"
          />
        </div>
        <div class="swiper-slide slide">
          <img
            src="/images/health-2.jpg"
            alt="slide-2"
            class="slide__img"
            width="1280"
            height="620"
          />
        </div>
        <div class="swiper-slide slide">
          <img
            src="/images/happy-2.jpg"
            alt="slide-3"
            class="slide__img"
            width="1280"
            height="620"
          />
        </div>
        <div class="swiper-slide slide">
          <img
            src="/images/happy-3.jpg"
            alt="slide-4"
            class="slide__img"
            width="1280"
            height="620"
          />
        </div>
      </div>

      <!-- Swiper Navigation -->
      <div class="slider-bottom">
        <div class="slider-pagination">
          <div class="swiper-pagination"></div>
        </div>
        <div class="slider-navigation">
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
  </div>
</section>
