<section class="section">
  <!-- Title -->
  <h2 class="main__title who__title" data-lang="who-title">
    Для кого цей сайт
  </h2>

  <div class="container who__wrapper">
    <!-- Cards -->
    <ul class="who__cards--list">
      <li class="who__card--item">
        <img
          src="/images/psyhiatrist-3.jpg"
          alt="psyhiatrist"
          class="who__card--img"
          width="1280"
          height="853"
        />
        <p class="who__card--text" data-lang="who-card-text-1">
          Підтримка людей з психічними порушеннями та їх родичів
        </p>
      </li>
      <li class="who__card--item">
        <img
          src="/images/psyhiatrist-2.jpg"
          alt="psyhiatrist"
          class="who__card--img"
          width="1280"
          height="853"
        />
        <p class="who__card--text" data-lang="who-card-text-2">
          Програми психоедукції та реабілітації для людей з психічними
          порушеннями
        </p>
      </li>
      <li class="who__card--item">
        <img
          src="/images/psyhiatrist-1.jpg"
          alt="psyhiatrist"
          class="who__card--img"
          width="1280"
          height="853"
        />
        <p class="who__card--text" data-lang="who-card-text-3">
          Підготовка людей з психічними порушеннями
        </p>
      </li>
    </ul>
  </div>
</section>
