.faq__details--list {
  width: 100%;

  padding-bottom: clamp(2.5rem, 2rem + 2.5vw, 5rem);

  display: flex;
  flex-direction: column;
  row-gap: clamp(0.5rem, 0.232rem + 1.19vw, 1.125rem);
}

.faq__details--item {
  width: 100%;

  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px 0;

  border-radius: 10px;
  border: 1px solid var(--light-background);
  background: var(--light-linear-gradient);
  box-shadow: var(--main-shadow);
}

.faq__details {
  text-align: left;
}

.faq__details--title {
  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  cursor: pointer;
}

.faq__details--icon {
  padding: clamp(0.125rem, 0.018rem + 0.48vw, 0.375rem);

  border-radius: 50%;
  background-color: var(--background-12);

  width: clamp(1.125rem, 0.975rem + 0.75vw, 1.875rem); /* 18 - 30 */
  height: clamp(1.125rem, 0.975rem + 0.75vw, 1.875rem); /* 18 - 30 */

  transition: all 0.3s ease;
}

.faq__details[open] .faq__details--icon {
  fill: var(--accent-primary);
  fill-opacity: 1;

  transform: rotate(-180deg);
}

.faq__details--desc {
  margin-top: clamp(1.125rem, 0.964rem + 0.71vw, 1.5rem);
  padding-right: 16px;
}
